In [79]:
# -*- coding: utf-8
# Repórter Brasil (http://ruralometro.reporterbrasil.org.br/)
# Reinaldo Chaves (@paidatocandeira)
# Verifica quais políticos são da Frente Parlamentar Agropecuária

In [ ]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import unidecode

Função para retirar acentuação

In [92]:
def f(str):
    return (unidecode.unidecode(str))

Raspa tabela de site

In [93]:
link = 'http://fpagropecuaria.org.br/integrantes/todos-os-integrantes/'
url = urlopen(link)
bsObje = BeautifulSoup(url, "html5lib")
tabela = bsObje.findAll("tbody", {"class":"coresAlternadas"})[0]

Cria lista com os nomes

In [94]:
nomes = []

In [95]:
for table_ele in tabela.findAll('tr'):
    linha = table_ele.findAll('td')[0].text.strip()
    dicionario = {"nome_bancada_ruralista": linha}
    nomes.append(dicionario)

Cria dataframe

In [96]:
df_nomes = pd.DataFrame(nomes)

In [97]:
df_nomes.drop(df_nomes.tail(1).index,inplace=True) # apaga última linha que tem Total

In [98]:
df_nomes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 0 to 227
Data columns (total 1 columns):
nome_bancada_ruralista    228 non-null object
dtypes: object(1)
memory usage: 3.6+ KB

Limpeza

In [99]:
df_nomes["nome_bancada_ruralista"] = df_nomes["nome_bancada_ruralista"].apply(f)

In [101]:
def limpeza1(linha):
    nome = linha["nome_bancada_ruralista"]
    nome = nome.replace('*', '')
    return nome

In [102]:
df_nomes["nome_bancada_ruralista"] = df_nomes.apply(limpeza1, axis=1)

In [103]:
df_nomes

    nome_bancada_ruralista
0        ABEL MESQUITA JR.
1         ADILTON SACHETTI
2           AELTON FREITAS
3              AFONSO HAMM
4             AFONSO MOTTA
5                ALAN RICK
6            ALBERTO FRAGA
7            ALCEU MOREIRA
8            ALEX CANZIANI
9          ALEXANDRE BALDY
10         ALEXANDRE LEITE
11          ALFREDO KAEFER
12             ANDRE ABDON
13            ANDRE AMARAL
14            ANDRE FUFUCA
15            ANIBAL GOMES
16        ANTONIO BALHMANN
17       ANTONIO IMBASSAHY
18          ANTONIO JACOME
19           ARNALDO JORDY
20             ARTHUR LIRA
21    ARTHUR OLIVEIRA MAIA
22          ASSIS DO COUTO
23              ATILA LIRA
24        AUGUSTO CARVALHO
25                   AUREO
26            BALEIA ROSSI
27             BENITO GAMA
28       BENJAMIN MARANHAO
29             BETO MANSUR
..                     ...
198           SERGIO BRITO
199           SERGIO SOUZA
200         SERGIO VIDIGAL
201         SERGIO ZVEITER
202               SHERIDAN
203           SIBA MACHADO
204       SILAS BRASILEIRO
205           SILAS CAMARA
206         SIMONE MORGADO
207          SORAYA SANTOS
208    SOSTENES CAVALCANTE
209               TAKAYAMA
210        TEREZA CRISTINA
211       TONINHO PINHEIRO
212        ULDURICO JUNIOR
213         VALDIR COLATTO
214       VALTENIR PEREIRA
215        VICENTE CANDIDO
216      VICENTINHO JUNIOR
217            VITOR VALIM
218           WALTER ALVES
219        WASHINGTON REIS
220          WELITON PRADO
221     WELLINGTON ROBERTO
222         WEVERTON ROCHA
223         WLADIMIR COSTA
224         XUXU DAL MOLIN
225           YEDA CRUSIUS
226               ZE SILVA
227           ZENAIDE MAIA

[228 rows x 1 columns]

In [104]:
df_nomes.to_csv('resultados/bancadaruralista_deputados.csv', index=False)